<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment Tracker</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body class="bg-light text-dark">
    <div class="container mt-5">
        <h1><b>UPCOMMING ASSIGNMENTS</b></h1>
        <div class="list-group">
            <br>
            {% for message in get_flashed_messages() %}
                {% if message != "<br>" %}
                    <p class="list-group-item">{{ message | safe }}</p>
                {%else%}
                    <p>{{message | safe}}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
